* {
    box-sizing: border-box;
  }
  
body {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    border: black solid;
    /* background-image: url('https://i.giphy.com/media/8mWJvmqZgZmb6/giphy.webp'); */

    }

main {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
  
#markers {
    display: grid;
    grid-template-columns: repeat(10, 9.2vmin);
    gap: 3.5vmin;
    margin-top: 1vmin;
    
  }
  
#markers > div {
    height: 16vmin;
    border-width: 10vmin;
    border-style: solid;
    border-color: rgb(27, 1, 92) transparent transparent;
    transform: scale(0.6);

  }
  
#markers > div:hover {
    transform: scale(0.9);
    transition: transform 150ms ease-in;
    border-top-color: darkgray;
    
  }
  
#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 2vmin;
    margin: -5%;
    border: black solid;
    /* background-image: url('https://i.giphy.com/media/8mWJvmqZgZmb6/giphy.webp'); */
  }
  
#board > div {
    border-radius: 50%;
    border: 0.1vmin solid grey;
    border: red solid;
  };

#aside {
  height: 350px;
  width: 150px;

};
  
/* #playa {
    justify-content: left;
    margin-left: 30%;
    align-items: center;
    display: inline;
} */
